<footer class="text-center text-white bg-dark">
    <div class="container-fluid">
        <div class="mt-5">
            <div class="row text-center d-flex justify-content-center align-items-center pt-5">
                <div class="col-md-2">
                    <h6>
                        <a href="#" class="enlace-footer">Política de datos</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6>
                        <a href="#" class="enlace-footer">Política de cookies</a>
                    </h6>
                </div>
            </div>
        </div>

        <hr class="my-4">

        <div class="mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h4>AutoL</h4>
                    <p class="lead">Organiza tu autoescuela de forma sencilla, rápida y fácil</p>
                    <a class="navbar-brand" href="index.php"><img class="iconos" src="public/imagenes/logo.svg" alt="logo"></a>
                </div>
            </div>
        </div>
        <div class="text-center mb-5">
            <div class="redes">
                <a href="#" style="text-decoration: none;">
                    <i class="fa-brands fa-twitter fa-2x"></i>
                </a>
                <a href="#" style="text-decoration: none">
                    <i class="fa-brands fa-youtube fa-2x"></i>
                </a>
                <a href="#" style="text-decoration: none">
                    <i class="fa-brands fa-instagram fa-2x"></i>
                </a>
                <a href="#" style="text-decoration: none">
                    <i class="fa-brands fa-linkedin-in fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        &copy; 2023 Copyright - AutoL
    </div>
</footer>