<h3 class="text-center mt-3 mb-5">NUESTROS SERVICIOS</h3>
<div class="row bg-light">
    <div class="col-md-6 shadow servicios">
        <h4 class="fw-semibold mb-2">Reserva de prácticas</h4>
        <p>Reserva clases prácticas online desde tu hogar</p>
        <img class="iconos m-auto" src="public/imagenes/reservas.png" alt="Reservas">
    </div>

    <div class="col-md-6 shadow servicios">
        <h4 class="fw-semibold mb-2">Comunicados</h4>
        <p>Mantén informado a tus alumnos de los exámenes
        </p>
        <img class="iconos m-auto" src="public/imagenes/comunicados.png" alt="Comunicados">
    </div>
</div>

<div class="row bg-light">
    <div class="col-md-6 shadow servicios">
        <h4 class="fw-semibold mb-2">Calculadora de pagos</h4>
        <p>Calcula cuanto tendrás que pagar por las prácticas</p>
        <img class="iconos m-auto" src="public/imagenes/calculadora.png" alt="Control prácticas">
    </div>

    <div class="col-md-6 shadow servicios">
        <h4 class="fw-semibold mb-2">Sin límite de alumnos</h4>
        <p>Cada alumno tendrá un hueco asegurado en tu autoescuela</p>
        <img class="iconos m-auto" src="public/imagenes/alumnos.png" alt="Reservas">
    </div>


</div>